In [ ]:
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta, SU, SA, FR
import calendar

In [ ]:
df = pd.read_excel('EnsaiosGuarulhos.xlsx')
df

,Semana,HorÃ¡rio,Localidade,Waze,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Primeiro Domingo,16h,Agua Azul,RotaðŸ“Œ,NaN,NaN,NaN,NaN
1,Primeiro Â Domingo,16h,Bom Clima,RotaðŸ“Œ,NaN,NaN,NaN,NaN
2,Primeiro Domingo,16h,Bairro Pimentas,RotaðŸ“Œ,NaN,NaN,NaN,NaN
3,Terceiro Sabado,17h,CabuÃ§u - Km18,RotaðŸ“Œ,NaN,NaN,NaN,NaN
4,Ãšltimo Domingo,16h,Cid. Aracilia,RotaðŸ“Œ,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [ ]:
#removendo colunas de nome unnamed
for i in range(4,8):
  df.drop(columns=f"Unnamed: {i}", inplace=True)

In [ ]:
df = df.dropna()

In [ ]:
#csv apresentava texto que na teoria deveria ser iguais, mas apresentavam espaÃ§os e caracteres especiais que nao deveriam estar ali
df['Semana'] = df['Semana'].str.strip()
df['Semana'] = df['Semana'].str.replace(r'\xa0', ' ', regex=True)
df['Semana'] = df['Semana'].str.replace(r'\s+', ' ', regex=True).str.strip()

/tmp/ipython-input-879/3270330009.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Semana'] = df['Semana'].str.strip()
/tmp/ipython-input-879/3270330009.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Semana'] = df['Semana'].str.replace(r'\xa0', ' ', regex=True)
/tmp/ipython-input-879/3270330009.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Semana'] = df['Semana'].str.replace(r'\s+', ' ', regex=True).str.strip()

In [ ]:
#checando se a tratativa de texto deu resultado
df['Semana'].unique()

array(['Primeiro Domingo', 'Terceiro Sabado', 'Ãšltimo Domingo',
       'Primeiro Sabado', 'Primeira Sexta', 'Segundo Sabado',
       'Quarto Sabado', 'Ãšltimo Sabado', 'Terceira Sexta',
       'Quarto Domingo', 'Segundo Sexta'], dtype=object)

In [ ]:
def retorna_datas(ano, mes, df):
    datas = []
    # Usando o dicionÃ¡rio de meses, de forma bem rÃºstica mesmo, nÃ£o soube criar de outra forma
    meses_pt = {
        1: 'Janeiro', 2: 'Fevereiro', 3: 'MarÃ§o', 4: 'Abril',
        5: 'Maio', 6: 'Junho', 7: 'Julho', 8: 'Agosto',
        9: 'Setembro', 10: 'Outubro', 11: 'Novembro', 12: 'Dezembro'
    }

    for i in df['Semana']:
        # Aqui eu nao podia perder tempo, na minha cabeÃ§a surgiu uma lÃ³gica de if else e usei, poderia ter usado switch, mas usei aquilo que eu sabia que iria funcionar, atÃ© pq por se tratar de uma analise  rÃ¡pida, nao teria tanto impacto
        if i == 'Primeiro Domingo':
            datas.append(datetime(ano, mes, 1) + relativedelta(weekday=SU(1)))
        elif i == 'Terceiro Sabado':
            datas.append(datetime(ano, mes, 1) + relativedelta(weekday=SA(3)))
        elif i == 'Ãšltimo Domingo':
            datas.append(datetime(ano, mes, 1) + relativedelta(weekday=SU(-1)))
        elif i == 'Primeiro Sabado':
            datas.append(datetime(ano, mes, 1) + relativedelta(weekday=SA(1)))
        elif i == 'Primeira Sexta':
            datas.append(datetime(ano, mes, 1) + relativedelta(weekday=FR(1)))
        elif i == 'Segundo Sabado':
            datas.append(datetime(ano, mes, 1) + relativedelta(weekday=SA(2)))
        elif i == 'Quarto Sabado':
            datas.append(datetime(ano, mes, 1) + relativedelta(weekday=SA(4)))
        elif i == 'Ãšltimo Sabado':
            datas.append(datetime(ano, mes, 1) + relativedelta(weekday=SA(-1)))
        elif i == 'Terceira Sexta':
            datas.append(datetime(ano, mes, 1) + relativedelta(weekday=FR(3)))
        elif i == 'Quarto Domingo':
            datas.append(datetime(ano, mes, 1) + relativedelta(weekday=SU(4)))
        elif i == 'Segundo Sexta':
            datas.append(datetime(ano, mes, 1) + relativedelta(weekday=FR(2)))
        else:
            # Se nÃ£o cair em nenhum, adiciona vazio para nÃ£o quebrar o tamanho da lista
            datas.append(None)

    nome_mes = meses_pt[mes]
    df[f'Data {nome_mes}'] = datas
    return df

ano = 2026
#Todos os meses
for i in range(3,13):
  df = retorna_datas(ano, i, df)

#alterando formato
# Lista todas as colunas que contÃªm a palavra 'Data'
colunas_data = [col for col in df.columns if 'Data' in col]

for col in colunas_data:
    # O .dt.strftime converte para string no formato brasileiro
    df[col] = df[col].dt.strftime('%d/%m/%Y')


df

/tmp/ipython-input-879/2747606545.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'Data {nome_mes}'] = datas
/tmp/ipython-input-879/2747606545.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'Data {nome_mes}'] = datas
/tmp/ipython-input-879/2747606545.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'Data {nome_mes}'] = datas
/tmp/ipython-input-879/2747606545.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'Data {nome_mes}'] = datas
/tmp/ipython-input-879/2747606545.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'Data {nome_mes}'] = datas
/tmp/ipython-input-879/2747606545.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'Data {nome_mes}'] = datas
/tmp/ipython-input-879/2747606545.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'Data {nome_mes}'] = datas
/tmp/ipython-input-879/2747606545.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'Data {nome_mes}'] = datas
/tmp/ipython-input-879/2747606545.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'Data {nome_mes}'] = datas
/tmp/ipython-input-879/2747606545.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'Data {nome_mes}'] = datas
/tmp/ipython-input-879/2747606545.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].dt.strftime('%d/%m/%Y')
/tmp/ipython-input-879/2747606545.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].dt.strftime('%d/%m/%Y')
/tmp/ipython-input-879/2747606545.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].dt.strftime('%d/%m/%Y')
/tmp/ipython-input-879/2747606545.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].dt.strftime('%d/%m/%Y')
/tmp/ipython-input-879/2747606545.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].dt.strftime('%d/%m/%Y')
/tmp/ipython-input-879/2747606545.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].dt.strftime('%d/%m/%Y')
/tmp/ipython-input-879/2747606545.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].dt.strftime('%d/%m/%Y')
/tmp/ipython-input-879/2747606545.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].dt.strftime('%d/%m/%Y')
/tmp/ipython-input-879/2747606545.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].dt.strftime('%d/%m/%Y')
/tmp/ipython-input-879/2747606545.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].dt.strftime('%d/%m/%Y')

,Semana,HorÃ¡rio,Localidade,Waze,Data MarÃ§o,Data Abril,Data Maio,Data Junho,Data Julho,Data Agosto,Data Setembro,Data Outubro,Data Novembro,Data Dezembro
0,Primeiro Domingo,16h,Agua Azul,RotaðŸ“Œ,01/03/2026,05/04/2026,03/05/2026,07/06/2026,05/07/2026,02/08/2026,06/09/2026,04/10/2026,01/11/2026,06/12/2026
1,Primeiro Domingo,16h,Bom Clima,RotaðŸ“Œ,01/03/2026,05/04/2026,03/05/2026,07/06/2026,05/07/2026,02/08/2026,06/09/2026,04/10/2026,01/11/2026,06/12/2026
2,Primeiro Domingo,16h,Bairro Pimentas,RotaðŸ“Œ,01/03/2026,05/04/2026,03/05/2026,07/06/2026,05/07/2026,02/08/2026,06/09/2026,04/10/2026,01/11/2026,06/12/2026
3,Terceiro Sabado,17h,CabuÃ§u - Km18,RotaðŸ“Œ,21/03/2026,18/04/2026,16/05/2026,20/06/2026,18/07/2026,15/08/2026,19/09/2026,17/10/2026,21/11/2026,19/12/2026
4,Ãšltimo Domingo,16h,Cid. Aracilia,RotaðŸ“Œ,01/03/2026,29/03/2026,26/04/2026,31/05/2026,28/06/2026,26/07/2026,30/08/2026,27/09/2026,01/11/2026,29/11/2026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,Terceiro Sabado,17h,Vila Torre,RotaðŸ“Œ,21/03/2026,18/04/2026,16/05/2026,20/06/2026,18/07/2026,15/08/2026,19/09/2026,17/10/2026,21/11/2026,19/12/2026
118,Quarto Domingo,16h,Vila UniÃ£o,RotaðŸ“Œ,22/03/2026,26/04/2026,24/05/2026,28/06/2026,26/07/2026,23/08/2026,27/09/2026,25/10/2026,22/11/2026,27/12/2026
119,Ãšltimo Sabado,17:h,Vila Dinamarca,RotaðŸ“Œ,28/02/2026,28/03/2026,25/04/2026,30/05/2026,27/06/2026,01/08/2026,29/08/2026,26/09/2026,31/10/2026,28/11/2026
120,Primeiro Domingo,16h,Vila N. Bonsucesso,RotaðŸ“Œ,01/03/2026,05/04/2026,03/05/2026,07/06/2026,05/07/2026,02/08/2026,06/09/2026,04/10/2026,01/11/2026,06/12/2026
121,Ãšltimo Sabado,17h,Vila S. JoÃ£o Batista,RotaðŸ“Œ,28/02/2026,28/03/2026,25/04/2026,30/05/2026,27/06/2026,01/08/2026,29/08/2026,26/09/2026,31/10/2026,28/11/2026

In [ ]:
df.to_excel('Ensaios Locais - Guarulhos.xlsx')